/* Barra de navegação */

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    background-color:var(--color-text-secondary);
    }
    
    .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color:var(--color-text-secondary);
    }
    
    .mr-auto {
    display: none;
    }
    
    /* Botões */
    .btn.btn-primary {
    background: var(--color-secondary);
    border: none;
    border-radius: 3%;
    }
    
    .btn.btn-primary:focus, .btn.btn-primary:focus {
    background-color: var(--color-secondary-dark);
    border:none;
    outline:none;
    transition:none;
    }
    
    .btn.btn-secondary:focus {
    border:none;
    outline:none;
    transition:none;
    }
    
    /* Profile */
    .description p {
    padding:1rem;
    }
    
    /* Separador do menu */
    .block {
    border-top: 7px solid var(--color-secondary);
    }
    
    /* Footer */
    .d-inline-block.aalink img{
    display:none!important;
    }
    
    .logininfo {
    display:none;
    }
    
    #page-footer .socials_wrapper .socials a, 
    #back-to-top {
    color: var(--color-secondary)!important;
    }
    
    #page-footer a{
    color: var(--color-text-secondary);
    }
    
    #back-to-top {
    border-color: var(--color-secondary-dark);
    border-radius: 20%;
    background-color: var(--color-secondary);
    }
    
    #back-to-top i {
    color: var(--color-main-background);
    }
    
    .text-dark {
    color: var(--color-text-primary)!important;
    }
    
    .tool_dataprivacy {
    display:none;
    }
    
    #theme_switch_link {
    display:none;
    }
    
    .homelink {
    display:none;
    }
    
    .helplink {
    display:none;
    }
    
    /* Home */
    .page-header-headings h1 {
    color: var(--color-secondary);
    }
    
    /* Tela de login */
    .card {
    border-radius: 2%;
    padding-bottom: 0.5rem;
    }
    
    /* Configuração mobile */
    
    @media (max-width: 1199px) {
    /*Configuração da estilização do cabeçalho fixo*/
    #groupingdropdown {
    max-width: 90vw;
    overflow: hidden;
    padding: 5px;
    }
    
    
    
    
    
    .navbar-fhs .navbar-nav .nav-link {
    display:none!important;
    }
    
    .brandbox h3 {
    background-image: var(--image-footer-sys);
    background-size: 15rem;
    background-repeat: no-repeat;
    padding: 3rem 0px;
    background-position: center;
    }
    
    /* Footer */
    #page-footer {
    margin-top: 1rem;
    }
    
    .card-header.text-center div img {
        height: 2.5rem;
    }
    
    /* Tela de login */
    .card {
    margin-top: 1rem;
    }
    
    }
    
    /* Configuração web */
    
    @media (min-width:1200px) {
    /* Barra de navegação */
    .navbar {
    padding: 1.8rem 1rem;
    }
    
    /* Configuração da estilização do cabeçalho fixo */
    .d-md-inline {
    display:none!important;
    }
    
     /* Seção central dos cursos */
    #region-main.has-blocks {
    width:80vw!important;
    }
    
    /* Seção lateral do painel */
    .hidden-print {
    width:16vw!important;
    }
    
    /* Footer */
    .brandbox h3 {
    background-image: var(--image-footer-sys);
    background-size: 15rem;
    background-repeat: no-repeat;
    padding: 3rem 0px;
    margin: 1rem 0 -1rem 1rem;
    }
    
    .col-md-4 {
    border-left: 3px solid var(--color-text-primary);
    }
    
    .col-md-8 {
    padding: 1rem 0;
    }
    
    /* Tela de login */
    .card {
    margin-bottom: 4rem;
    }
    
    }
    