.block {
    border-top: 7px solid var(--color-primary);
}

.arrow_link .previous, .arrow_link.next {
    font-size: 0.9rem;
}

@media (min-width:1200) {
    section.block.block_fake.card.mb-3 {
        width: 15vw; 
        margin-right: 1rem;
    }

    #region-main.has-blocks-main {
        width: 80vw;
    }
}