#page-footer {
    background-color: var(--color-secondary-dark)!important;
    color: var(--color-text-primary) !important;
    padding-top: 2rem!important;
}

#page-footer h3 {
    text-align: center;
    font-size: 1.4rem!important;
}

#organizeForm {
    display: flex;
}

#page-footer div.col-md-8, #page-footer div.col-md-4 {
    padding: 0!important;
}

#page-footer div.col-md-4 {
    margin-top: 2rem;
}

#newsLetter { /* Imagem do rodapé */
    background-image: url(/)
}

#divFooter, .tool_dataprivacy, .sitelink, .homelink, #theme_switch_link {
    display: none!important;
}

#page-footer div.text_to_html > div {
    background-image: var(--image-newsletter);
    background-size: contain;
    background-repeat: no-repeat;
    height: 8rem;
    background-position: center;
}

#page-footer div.text_to_html p, p.helplink {
    display: none!important;
}

/* Configurações do formulário mail chimp */
#mce-EMAIL {
    margin-right: -5px;
    width: 90%;
    height: 2rem;
}

#mc-embedded-subscribe-form {
    padding: 0 !important;
}

#buttonSubmit {
    height: 2rem;
    border: none;
    background-color: gray;
}

div.text_to_html p {
    text-align: justify;
    line-height: 1.2rem;
}

.brandbox ul {
    padding: 0;
    text-align: center;
    line-height: 1.5rem;
}

.footercontact li i {
    color: gray/*var(--color-primary)*/;
    margin-right: 0.3rem;
    display: block;
    font-size: 2rem;    
}

.footercontact li + li {
    margin-top: 0.7rem;
}

ul.list-unstyled.pt-3 {
    padding: 0!important;
    font-size: 1.4rem;
}

.list-unstyled.pt-3 > li {
    color: var(--color-primary);
}

/* Ícones de idioma */

.languageFooter {
    display: flex;
    justify-content: center;
}

.IconFlagFooter + .IconFlagFooter {
    margin-left: 1rem;
}

@media (min-width: 800px) {
    /* Ícones de idioma */
    .languageFooter {
        display: none;
    }

    #region-main {
        border-bottom: 0 !important;
    }

    #page-footer {
        background-color: unset !important;
        background-image: var(--image-footer);
        background-repeat: no-repeat;
        padding: 4rem 0 0 2rem!important;
        background-size: cover;
        height: auto;
        margin-top: 3rem;
    }

    #page-footer .container {
        position: relative;
        margin: 0 auto;
        bottom: 2rem;
        right: 0;
        left: 0;
    }

    #page-footer div.col-md-4 {
        padding: 0!important;
    }

    .footercontact li i {
        display: initial;
        font-size: 1rem;
    }

    #page-footer div.col-md-4 {
        margin-top: 0;
    }

    #page-footer .row {
        padding: 1.5rem 1.5rem 0 1.5rem;
    }

    #page-footer h3 {
        text-align: left;
    }

    div.text_to_html p {
        width: 80%;
    }

    .brandbox ul {
        text-align: left;
    }

    #page-footer div.text_to_html > div {
        background-position: left;
    }

    /* Configuração do forms */
    .mce_inline_error {
        width: 50% !important;
    }

    #mc_embed_signup {
        margin-top: -2rem;
    }

    @media(min-width:2000px) {
        #page-footer {
            height: 750px;
        }
    }

    /* Configurações do formulário mail chimp */
    #mce-EMAIL {
    width: 70%!important;
    }


}