#page-footer {
    background-color: var(--color-secondary-dark);
    color: var(--color-text-primary) !important;
    padding-top: 2rem!important;
}

#page-footer h3 {
    text-align: center;
    font-size: 1.4rem!important;
}

#page-footer div.col-md-8, #page-footer div.col-md-4 {
    padding: 0!important;
}

#page-footer div.col-md-4 {
    margin-top: 2rem;
}

#divFooter, .tool_dataprivacy, .sitelink {
    display: none!important;
}

div.text_to_html p {
    text-align: justify;
    line-height: 1.2rem;
}

.brandbox ul {
    padding: 0;
    text-align: center;
    line-height: 1.5rem;
}

.footercontact li i {
    color: var(--color-primary);
    margin-right: 0.3rem;
    display: block;
    font-size: 2rem;    
}

.footercontact li + li {
    margin-top: 0.7rem;
}

ul.list-unstyled.pt-3 {
    padding: 0!important;
    font-size: 1.4rem;
}

.list-unstyled.pt-3 > li {
    color: var(--color-primary);
}

@media (min-width: 1200px) {
    #region-main {
        border-bottom: 0 !important;
    }

    #page-footer {
        background-color: unset !important;
        background-image: url('/sys-academy/images/layout-images/background-footer.png');
        background-repeat: no-repeat;
        padding: 2rem 0!important;
        background-size: cover;
    }

    #page-footer div.col-md-4 {
        padding: 0!important;
    }

    .footercontact li i {
        display: initial;
        font-size: 1rem;
    }

    #page-footer div.col-md-4 {
        margin-top: 0;
    }

    #page-footer .row {
        padding: 1.5rem 1.5rem 0 1.5rem;
    }

    #page-footer h3 {
        text-align: left;
    }

    div.text_to_html p {
        width: 80%;
    }

    .brandbox ul {
        text-align: left;
    }


}