.fp-blocks,.jsenabled .collapsible-actions, .card-title  {
    display: none!important;
}

#welcomeText {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 1rem;
}

#WelcomeH1 {
    font-size: 4rem;
    color: var(--color-secondary-dark);
    margin-top: 1.5rem;
}

.divImageInstructor + .divImageInstructor {
    margin-left: 200px;
}

.contentImg {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    margin-bottom: 2.5rem;
}

.contentImg div {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.contentImg div h3 {
    margin-top: 1rem;
}

.contentImg div img {
    width: 15vw;
    align-self: center;
    border-radius: 50%;
    border: .4rem solid var(--color-primary-dark);
    max-width: 300px;
}

#textWelcome p {
    text-align: justify;
}

#instructorArea {
    margin-bottom: 1rem;
}

#instructorsArea {
    display: flex;
    justify-content:center;
}

#instructorsArea p {
    align-self: center;
    color: var(--color-secondary);
    font-weight: normal;
    font-size: 3rem;
}
    
#imagecarousel1, #imagecarousel2, #imagecarousel3 {
    margin-top: 0;
}

/* Configurações do login */
#loginArea {
    width: 25vw;
    position: fixed;
    top: 4rem;
    z-index: 10000;
    border: 1px solid var(--color-text-light);
    border-radius: 10px;
    opacity: 10;
    right: 2rem;
    display: none;
}

@media(max-width:1199px) {
    #frontpage-category-names {
        margin-top: 1rem!important;
    }
    #TextHomeContent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #WelcomeH1 {
        font-size: 1.9rem;
        margin-top: 1rem;
    }

    .divImageInstructor + .divImageInstructor {
        margin-left: 0!important;
    }

    .subcategories {
        flex-direction: column;
        padding: 0!important;
        margin-top: 1rem;
    }

    div.category.notloaded + div.category.notloaded {
        margin-top: 1.2rem;
    }

    #buttonCourses {
        position: relative;
        bottom: 0!important;
        position: relative;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }

    .course_category_tree {
        padding: 0!important
        ;
    }

    #demo {
        margin: 0!important;
    }

    #demo ul {
        width: 90vw;
        margin: 0 0 1rem 0!important;
    }

    .contentImg div h3 {
        width: 150%;
        text-align: center;
    }

    a.carousel-control-next {
        right: 2.5rem;
    }

    #welcomeText {
        font-size: 1rem;
        text-align: justify;
        margin-top: 1rem;
    }

    #textWelcome p {
        text-align: justify;
    }

    #instructorArea {
        margin-bottom: 1rem;
    }

    #instructorsArea {
        display: flex;
        justify-content:center;
    }

    #instructorsArea p {
        align-self: center;
        color: var(--color-primary);
        font-weight: bold;
        font-size: 2.3rem;
    }

    .contentImg, .contentImg div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contentImg div img {
        width: 50vw;
        align-self: center;
        border-radius: 50%;
        border: .5rem solid var(--color-primary-dark);
    }

    .contentImg div + div {
        margin-top: 2rem;
    }

    .box.py-3.mdl-align {
        padding-top: 0!important;
    }

    #textWelcome p {
        padding: 1rem 0 0 0;
        margin-bottom: 0!important;
    }
    
    /* Bloco de login */
    .fpsignup {
        padding: 0!important;
    }

    div.card-title.text-xs-center {
        display: none!important;
    }

    .signinform form {
        margin: 0!important;
    }

    #loginArea {
        width: 90vw;
        top: 2.5rem;
        right: unset;
        padding: 0.5rem!important;
    }
}