#region-main {
    overflow: hidden;
    padding: 0 1rem!important
}

#demo {
    width: 100vw;
    margin: 0 -1rem;
}

div.container-fluid, div.col-md-12 {
    padding: 0 !important;
}

/* Área de categoria de cursos */
#frontpage-category-names {
    background: var(--color-secondary-dark);
    margin: 0 -1rem!important;
    padding: 1rem 0;
}

#frontpage-category-names > hr, span.numberofcourse, #buttonCourses, .market-tile a.btn.btn-primary {
    display: none!important; /* Concentra todos os display none */
}

#frontpage-category-names > h2 {
    color: var(--color-text-primary);
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
}

.imgCategory {
    width: 100%;
    max-height: 300px;
}

h3.categoryname.aabtn {
    background-image: none !important;
    color: var(--color-text-primary);
    justify-content: right!important;
    display: flex!important;
}

h3.categoryname.aabtn a {
    color: var(--color-text-primary);
    border-bottom: 3px solid var(--color-primary-dark);
    transition: 0.2s;
}

h3.categoryname.aabtn a::before {
    color: var(--color-primary-dark);
    content: "○ ";
}

h3.categoryname.aabtn a:hover {
    color: var(--color-primary-dark);
    text-decoration: none;
    border-color: var(--color-secondary);
}

/* Área da mensagem de boas vindas */
#TextHomeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

#WelcomeH1 {
    color: var(--color-primary);
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#welcomeText {
    font-size: 1rem;
    text-align: justify;
    width: 90vw;
}

#TextHomeContent h3 {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 90vw;
    color: var(--color-secondary);
    align-self: center;
}

div.fp-blocks,.jsenabled .collapsible-actions {
    display: none!important;
}

/* Área dos instrutores */
#instructorsArea {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    color: var(--color-secondary-dark);
    font-weight: bold;
}

#instuctorArea {
    border: 0;
}

div.contentImg {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

div.divImageInstructor {
    width: 90vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.divImageInstructor img {
    margin: 0;
    width: 100%;
    transition: 0.2s;
}

div.divImageInstructor img:hover {
    width: 110%;

}

/* Área de marketing */
div.markettiles {
    margin: 1rem 0!important;
}

.textArea b {
    font-weight: bold;
}

.textArea b {
    font-weight: bold;
}

#mktDiv {
    display: flex;
    justify-content: center;
    border-top: 3px solid var(--color-primary-dark);
    border-bottom: 3px solid var(--color-primary-dark);
    margin: 0 -1rem;
}

#mktDiv h2 {
    margin: 0!important;
    font-weight: bold;
    color: var(--color-secondary-dark);
}

div.market-tile {
    border: 0 !important;
    margin: 0 !important;
    padding: 0!important;
}

.market-tile {
    background-color: var(--color-background)!important;
}

h3.card-title {
    margin-bottom: 0!important;
    font-size: 1rem;
    color: var(--color-text-primary);
}

.card-title {
    padding: 0.5rem;
}

.marketing1image,.marketing2image,.marketing3image,.marketing4image,.marketing5image,.marketing6image,.marketing7image,
.marketing8image,.marketing9image { /* Total de imagens que podem ser usadas no marketing area */
    background-position: center;
    background-repeat: no-repeat;
}

.marketcontent {
    height: 15rem;
    max-height: 300px;
    margin: 0!important;
}

.titleMarketing h1 {
    font-size: 1.4rem;
    text-align: center;
}

.textArea h2 {
    font-size: 1rem;
    text-align: justify;
    margin: 0;
}

#region-main div.col-md-4 {
    margin-bottom: 1.5rem;
}

h3.categoryname.aabtn {
    font-size: 1.4rem;
}

.indicates-required {
    display: none;
}

div#mc_embed_signup_scroll h2 {
    text-align: center;
    color: var(--color-secondary);
}

.clear {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

input#mc-embedded-subscribe {
    background-color: var(--color-secondary)!important;
}

@media (min-width: 1200px) {
    #demo {
        width: auto;
        margin: 0;
    }
    
    #region-main-box {
        display: flex;
        justify-content: center;
    }

    #region-main {
        padding: 0!important;
        max-width: 2900px;
        border: 0!important;
    }

    #page-header .col-12.pt-3.pb-3 {
        padding: 0!important;
    }

    /* Área de boas vindas */
    #TextHomeContent {
        background-image: url('/sys-academy/images/layout-images/background-welcome.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        background-position-y: top;
        background-position-x: right;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    #frontpage-category-names > h2 {
        font-size: 3rem;
    }

    #frontpage-category-names {
        background-color: unset;
        background-image: url('/sys-academy/images/layout-images/backgroung-torres.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 2rem;
    }

    #welcomeText {
        font-size: 1.5rem;
        text-align: justify;
        margin-bottom: 1rem;
        width: 70vw;
        align-self: center;
        text-align: center;
    }

    #TextHomeContent h3 {
        font-weight: normal;
        font-size: 1.5rem;
        width: 70vw;
        align-self: center;
        text-align: center;
    }

    #WelcomeH1 {
        font-size: 3rem;
        font-weight: 900;
    }

    /*Área de categorias de cursos */

    .category.notloaded + .category.notloaded {
        margin-left: 4rem;
    }

    div.subcategories {
        display: flex;
        justify-content: center;
    }

    div.subcategories img {
        height: 15rem;
        transition: 0.4s;
        position: relative;
    }

    div.subcategories img:hover {
        position: sticky;
        z-index: 1000;
        height: 18rem;
    }

    /* Área de instrutores */
    #instructorsArea {
        font-size: 3rem;
        justify-content: left;
    }
    
    #instuctorArea {
        padding: 0 10rem;
        margin-bottom: 4rem;
    }

    div.contentImg {
        flex-direction: initial;
        justify-content: space-between;
        margin: 0 -2rem;
    }

    div.divImageInstructor {
        width: auto;
        max-width: 300px;
    }

    /* Área de marketing */
    #mktDiv {
        border-top: 0;
        border-bottom: 0;
        padding: 0 10rem;
        text-align: center;
    }

    #mktDiv h2 {
        font-size: 3rem;
        border-top: 3px solid var(--color-primary-dark);
        border-bottom: 3px solid var(--color-primary-dark);
        width: 100%;
    }

    div.markettiles {
        padding: 0 10rem;
    }

    h3.card-title {
        display: inline;
        margin-left: 0.5rem;
    }

    .card-title {
        padding: 0.5rem 40% 0.5rem 0.5rem;
    }

    .marketcontent {
        height: 10rem;
        margin-top: 0.5rem !important;
        transition: 0.2s;
    }

    .marketing1image,.marketing2image,.marketing3image,.marketing4image,.marketing5image,.marketing6image,.marketing7image, .marketing8image,.marketing9image { /* Total de imagens que podem ser usadas no marketing area */
        background-size: 100% 100%;
        max-width: 400px;
        width: auto;
        height: 15rem;
        margin: 1rem auto !important;
    }

    .marketing1image:hover,.marketing2image:hover,.marketing3image:hover,.marketing4image:hover,.marketing5image:hover,.marketing6image:hover,.marketing7image:hover, .marketing8image:hover,.marketing9image:hover {
        opacity: 70%;
    }

    div.container-fluid {
        margin-top: 0rem!important;
    }
}